@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-200: #ddd6fe;
  --color-brand-300: #c4b5fd;
  --color-brand-400: #a78bfa;
  --color-brand-500: #8b5cf6; /* Color Principal */
  --color-brand-600: #7c3aed; /* Hover */
  --color-brand-700: #6d28d9;
  --color-brand-800: #5b21b6;
  --color-brand-900: #4c1d95;
  --color-brand-950: #2e1065;

  /* Dark: Fondos Profundos (Navy/Black) */
  --color-dark-950: #020205; /* Fondo más oscuro posible */
  --color-dark-900: #0b0c15; /* BACKGROUND PRINCIPAL */
  --color-dark-800: #151725; /* Tarjetas / Paneles */
  --color-dark-700: #222436; /* Bordes sutiles */
  --color-dark-600: #2d3045; /* Textos secundarios */
}

/* Reset básico para asegurar el Dark Mode */
body {
  background-color: var(--color-dark-900);
  color: #ffffff;
}
